.MainMenu{
    /* flex: 0 0 200px; */
    width: 220px;
    position: fixed;
    height : 100%;
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10vh;
    gap : 10%;
    background-color:var(--menu-green);
}

.MainMenu a {
    text-decoration: none;
    width: 100%;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    color: #ffffff;
    transition: background-color 0.3s ease; /* Transition duration and timing function */
}

.activeStyle{
    background-color: var(--active-green) !important;
}

.MainMenu a:hover {
    background-color: var(--active-green);
    animation: backgroundTransition 0.1s linear;
}

@keyframes backgroundTransition {
    0% {
      background: radial-gradient(circle at center, var(--active-green) 0%, transparent 0%);
    }
    5% {
        background: radial-gradient(circle at center, var(--active-green) 5%, transparent 5%);
    }
    10% {
        background: radial-gradient(circle at center, var(--active-green) 10%, transparent 10%);
    }
    15% {
        background: radial-gradient(circle at center, var(--active-green) 15%, transparent 15%);
    }   
    20% {
        background: radial-gradient(circle at center, var(--active-green) 20%, transparent 20%);
    } 
    25% {
        background: radial-gradient(circle at center, var(--active-green) 25%, transparent 25%);
    } 
    30% {
        background: radial-gradient(circle at center, var(--active-green) 30%, transparent 30%);
    } 
    35% {
        background: radial-gradient(circle at center, var(--active-green) 35%, transparent 35%);
    } 
    40% {
        background: radial-gradient(circle at center, var(--active-green) 40%, transparent 40%);
    }
    45% {
        background: radial-gradient(circle at center, var(--active-green) 45%, transparent 45%);
    }  
    50% {
      background: radial-gradient(circle at center, var(--active-green) 50%, transparent 50%);
    }
    55% {
        background: radial-gradient(circle at center, var(--active-green) 55%, transparent 55%);
    }
    60% {
        background: radial-gradient(circle at center, var(--active-green) 60%, transparent 
        60%);
    }
    65% {
        background: radial-gradient(circle at center, var(--active-green) 65%, transparent 
        65%);
    }
    70% {
        background: radial-gradient(circle at center, var(--active-green) 70%, transparent 
        70%);
    }
    75% {
        background: radial-gradient(circle at center, var(--active-green) 75%, transparent 75%);
    } 
    80% {
        background: radial-gradient(circle at center, var(--active-green) 80%, transparent 
        100%);
    }
    85% {
        background: radial-gradient(circle at center, var(--active-green) 85%, transparent 
        100%);
    }
    90% {
        background: radial-gradient(circle at center, var(--active-green) 90%, transparent 
        100%);
    }
    100% {
      background: radial-gradient(circle at center, var(--active-green) 100%, transparent 100%);
    }
  }