.modal {
    font-size: 14px;
    margin: auto;
    width: auto;
    background-color: #ecfffb;
    border: 2px solid rgba(13, 42, 20, 0.875);
    border-radius: 25px;
    padding: 20px 30px 20px 30px;
}

.calendarEventPopup {
    display: flex;
    flex-direction: column;
    width : 125%;
}

.calendarEventPopup > .row, .calendarAddEventPopup > .row{
    display: flex;
    flex-direction: row;
    gap : 20px
}
.calendarAddEventPopup .title{
    justify-content: center;
    padding-bottom: 30px;
    font-size: 2em;
}
.calendarEventPopup > .row > .col:first-of-type,
.calendarAddEventPopup > .row >.col:first-of-type{
    width : 40%;
}

.calendarEventPopup > .row > .col:nth-of-type(2),
.calendarAddEventPopup > .row > .col:nth-of-type(2){
    width : 60%;
}

.calendarAddEventPopup >.row:last-of-type{
    justify-content: space-evenly;
    padding-top: 5%;
    font-size: 1rem;
}
.calendarAddEventPopup >.row:last-of-type::after{
    display: none;
}
.calendarAddEventPopup >.row:last-of-type >.col{
    width: auto;
}

.col > .prepaid{
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap : 10px;
}

.greenIcon{
    color: green;
    font-size: 14px;
    vertical-align: middle;
    margin-bottom: 3px;
}
.redIcon{
    color: red;
    font-size: 14px;
    vertical-align: middle;
    margin-bottom: 3px;
}

.modalButtons {
    padding-top: 25px;
    justify-content: center;
}
.modalButtons > .col{
    width : auto !important;
}

.closeX {
    position: absolute;
    top: 15px;
    right: calc(-25% + 30px);
    transform: translateX(100%);
  }

  .afterModalMessage{
    width: 140%;
    height: 180%;
  }
  .warning{
    font-size: 16px;
    font-weight: 800;
    color: rgb(202, 13, 13);
  }

  .phone-invalid-input {
    border-style: solid !important;
    border-width: 2px !important;
    border-color:rgb(202, 13, 13) !important;
  }
  
  .phone-invalid-message{
    color: red !important;
    float:inline-end;
  }

  .calendarAddEventPopup{
    display: flex;
    flex-direction: column;
    width : 125%;
}
.calendarEventPopup > .row:last-of-type{
    padding-top: 10px;
}

.formAdminAddCalendar .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 100%;
}

.whatsappLogo{
    width: 3em;
    height: 3em;
    margin: auto !important;
}

.cameraIcon{
    vertical-align:text-bottom;
    color:rgb(50, 18, 229)
}