.btn_icon{
    font-size: 25px !important;
    display: flex !important;
    align-items: center;
}

.btn_box{
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
}

.btn_text{
    padding-left: 10px;
}