.slotButton{
    background-color: #D9D9D9 !important;
    border-style: solid !important;
    border-width: 1px 1px 1px 1px !important;
    border-color: black !important;
    border-radius: 15px !important;
}


/* The selected button */
.slotButton.Mui-selected {
    color: #000000 !important;
    background-color: #34A853 !important;
}

/* The container with all buttons */
.css-mjlvw-MuiToggleButtonGroup-root{
    gap: 10px;
}