.MainMenuUser{
    /* flex: 0 0 200px; */
    width: 220px;
    position: fixed;
    height : 100%;
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10vh;
    gap : 10%;
    background-color:#078316;
}

.MainMenuUser a {
    text-decoration: none;
    width: 100%;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    color: #ffffff;
    transition: background-color 0.3s ease; /* Transition duration and timing function */
}

.activeStyle{
    background-color: #25A034 !important;
}

.MainMenuUser a:hover {
    background-color: #25A034;
    animation: backgroundTransition 0.1s linear;
}

@keyframes backgroundTransition {
    0% {
      background: radial-gradient(circle at center, #25A034 0%, transparent 0%);
    }
    5% {
        background: radial-gradient(circle at center, #25A034 5%, transparent 5%);
    }
    10% {
        background: radial-gradient(circle at center, #25A034 10%, transparent 10%);
    }
    15% {
        background: radial-gradient(circle at center, #25A034 15%, transparent 15%);
    }   
    20% {
        background: radial-gradient(circle at center, #25A034 20%, transparent 20%);
    } 
    25% {
        background: radial-gradient(circle at center, #25A034 25%, transparent 25%);
    } 
    30% {
        background: radial-gradient(circle at center, #25A034 30%, transparent 30%);
    } 
    35% {
        background: radial-gradient(circle at center, #25A034 35%, transparent 35%);
    } 
    40% {
        background: radial-gradient(circle at center, #25A034 40%, transparent 40%);
    }
    45% {
        background: radial-gradient(circle at center, #25A034 45%, transparent 45%);
    }  
    50% {
      background: radial-gradient(circle at center, #25A034 50%, transparent 50%);
    }
    55% {
        background: radial-gradient(circle at center, #25A034 55%, transparent 55%);
    }
    60% {
        background: radial-gradient(circle at center, #25A034 60%, transparent 
        60%);
    }
    65% {
        background: radial-gradient(circle at center, #25A034 65%, transparent 
        65%);
    }
    70% {
        background: radial-gradient(circle at center, #25A034 70%, transparent 
        70%);
    }
    75% {
        background: radial-gradient(circle at center, #25A034 75%, transparent 75%);
    } 
    80% {
        background: radial-gradient(circle at center, #25A034 80%, transparent 
        100%);
    }
    85% {
        background: radial-gradient(circle at center, #25A034 85%, transparent 
        100%);
    }
    90% {
        background: radial-gradient(circle at center, #25A034 90%, transparent 
        100%);
    }
    100% {
      background: radial-gradient(circle at center, #25A034 100%, transparent 100%);
    }
  }