.MainMenuUser{
    width: 200px;
    height : 100%;
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10%;
    gap : 10%;
    background-color:#078316;
}

.MainMenuUser a {
    color: #A8D3BE;
}

.activeStyle{
    background-color: #25A034 !important;
}