body{
    font-family: 'Karla';
}

.homePage {
    position: relative;
    height: 89vh;
    overflow: hidden;
  }

.homePage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/wallpaper03.jpg");
    background-size: cover;
    transform: scaleX(-1);
    z-index: -1;
  }
.caption{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
}
.col-50{
    width: 50%;
    color: white !important;
}

.homeTitle{
    text-align: center;
}
.homeTitle>h1{
    margin-bottom: 0%;
}

.homeTitle .subtitle{
    color: var(--text-yellow);
}
.profileImg{
    width: 20vw;
    height: 40vh;
    border-radius: 25px;
    background-color: beige;
    float: right !important;
    margin-right: 10vw;
}

.background{
    width: 100%;
}

.background::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("../assets/wallpaper02.jpg"); */
    background-color: var(--background-blue);
    background-size: cover;
    transform: scaleX(-1);
    z-index: -1;
  }

.content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    overflow: visible;
}

.aboutMe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.aboutMe > div{
    width: 50%;
    height: auto;
}

.imgContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutMe > .imgContainer > img{
    min-width: 600px;
    width: 80%;
    height: 80vh;
    border-radius: 25px;
    object-fit: contain;
}
.aboutContent > div:first-child{
    font-size: 1.5em;
    color: var(--text-yellow);
}

.services .firstPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.services .firstPage > div:first-child{
    width: 40%;
    height: auto;
}
.services .firstPage > div:last-child{
    width: 60%;
    height: auto;
}

.servicesContent h1{
    color: var(--text-yellow);
}
.firstPage > .imgContainer{
    margin-top: 21.44px;
}
.firstPage > .imgContainer > img {
    width: auto;
    height: auto;
    max-width: 70%;
    border-radius: 25px;
    object-fit: contain;
}

.issueList{
    display: flex;
    flex-wrap: wrap;
}
.issueList > div:not(:last-child){
    width: 50%;
    display: flex;
    flex-direction: row;
}

.issueList > div:last-child{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.checkIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.issueList > div{
    padding-top: 1em;
    padding-right: 1em;
}

.ServicesInfo .serviceBox{
    display: inline-block;
    position: relative;
    border: 2px white solid;
    width: 30%;
    transition: transform 0.3s;
    z-index: 0;
    
}
.ServicesInfo .serviceBox:hover{
    transform: scale(1.1);
    z-index: 1;
}

.ServicesInfo img{
    border-bottom: 2px white solid;
    width: 100%;
    height: 30%;
}
.serviceBox .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.serviceBox .content > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.serviceBox .content > div:first-of-type{
    min-height: 5em;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    align-items: start;
}
.serviceBox .content > div:last-of-type{
    font-size: 16;
    font-weight: 500;
    font-family: 'Roboto';
    padding-top: 25px;
    padding-bottom: 30px;
}

.content .dataField div:nth-child(1){
    font-size: 18px;
    padding-right: 12px;
}
.content .dataField div:nth-child(3){
    font-size: 18px;
}
.content .dataField div:nth-child(2){
    font-size: 24px;
    padding-right: 6px;
}
/* .serviceBox .cta{
    background-color: transparent;
    color: var(--text-yellow);
    border: 2px solid var(--text-yellow);
    padding: 10px 20px 10px 20px;
    margin-top: auto;
}
.cta:hover{
    cursor: pointer;
} */

.serviceBox .cta {
    color: var(--text-yellow);
    font-size: 16px;
    border: 2px solid var(--text-yellow);
    width: 14em;
    height: 3em;
    text-transform: uppercase;
    font-family: 'Roboto';
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    background-color: transparent;
}

.serviceBox .cta span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--text-yellow);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.12s);
    z-index: -1;
}

.serviceBox .cta:hover {
    color: var(--background-blue);
    cursor: pointer;
}

.serviceBox .cta:hover span {
    transform: translateY(0) scale(3);
}
.serviceBox .cta span:nth-child(1) {
    --n: 1;
}

.serviceBox .cta span:nth-child(2) {
    --n: 2;
}

.serviceBox .cta span:nth-child(3) {
    --n: 3;
}

.serviceBox .cta span:nth-child(4) {
    --n: 4;
}


.contact{
    margin-top: 5%;
    margin-bottom: 5%;
}
.contact .firstPage{
    display: flex;
    flex-direction: row;
}

.contact .firstPage > div{
    width: 50%;
}

.contactData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    padding-right: 10%;
    gap : 10px;
}

.contactData .title{
    font-size: 1.5em;
    justify-content: left;
}

.contactData >div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.field > div:first-child{
    width: 30%;
}
.field > div:last-child{
    width: 70%;
    padding-right: 10%;
    text-align: end;
}
.field.whatsappButton a{
    display: flex;
    justify-content: center;
}
.field.whatsappButton img{
    padding-top: 20px;
    width: 60%;
}
.auth-wrapper{
    padding-top: 5%;
}

.ServicesInfo{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.ServicesInfo > .row{
    display: flex;
    flex-direction: row;
    gap: 5%;
}


.secondPage h4{
    font-size: 1.7em;
}

.thirdPage .sectionTitle{
    font-size: 1.7em;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.services .thirdPage{
    height: auto;
}

.butonProgramare{
    display: flex;
    justify-content: center;
    padding-top: 7vh;
}
.butonProgramare .greenButton{
    font-size: 1.5em;
    padding: 15px 10px 15px 10px;
    border-radius: 25px;
}

.questionsPage .title{
    font-size: 2em;
    color: var(--text-yellow);
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.questionsPage .content{
    width: 60%;
}

.MuiAccordion-root{
    padding-bottom: 25px;
    background-color: transparent !important;
    border: 0px !important;

}
.MuiAccordionDetails-root{
    background-color: aliceblue;
    margin: 10px 3px 0 3px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    
}