body{
    font-family: 'Karla';
}

.homePage {
    position: relative;
    height: 89vh;
    overflow: hidden;
  }

.homePage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/wallpaper03.jpg");
    background-size: cover;
    transform: scaleX(-1);
    z-index: -1;
  }
.caption{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
}
.col-50{
    width: 50%;
    color: white !important;
}

.homeTitle{
    text-align: center;
}
.homeTitle>h1{
    margin-bottom: 0%;
}

.homeTitle .subtitle{
    color: var(--text-yellow);
}
.profileImg{
    width: 20vw;
    height: 40vh;
    border-radius: 25px;
    background-color: beige;
    float: right !important;
    margin-right: 10vw;
}

.background{
    width: 100%;
}

.background::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("../assets/wallpaper02.jpg"); */
    background-color: var(--background-blue);
    background-size: cover;
    transform: scaleX(-1);
    z-index: -1;
  }

.content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    overflow: hidden;
}

.aboutMe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.aboutMe > div{
    width: 50%;
    height: auto;
}

.imgContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutMe > .imgContainer > img{
    background-color:rgb(255, 249, 241);
    width: auto;
    height: 40%; 
    border-radius: 25px;
}
.aboutContent > div:first-child{
    font-size: 1.5em;
    color: var(--text-yellow);
}

.services .firstPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.services .firstPage > div:first-child{
    width: 40%;
    height: auto;
}
.services .firstPage > div:last-child{
    width: 60%;
    height: auto;
}

.servicesContent h1{
    color: var(--text-yellow);
}
.firstPage > .imgContainer > .img{
    background-color:rgb(255, 249, 241);
    width: 50%;
    height: auto; 
    border-radius: 25px;
}

.issueList{
    display: flex;
    flex-wrap: wrap;
}
.issueList > div:not(:last-child){
    width: 50%;
    display: flex;
    flex-direction: row;
}

.issueList > div:last-child{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.checkIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.issueList > div{
    padding-top: 1em;
    padding-right: 1em;
}

.contact{
    margin-top: 5%;
    margin-bottom: 5%;
}
.contact .firstPage{
    display: flex;
    flex-direction: row;
}

.contact .firstPage > div{
    width: 50%;
}

.contactData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    padding-right: 10%;
    gap : 10px;
}

.contactData .title{
    font-size: 1.5em;
    justify-content: left;
}

.contactData >div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.field > div:first-child{
    width: 30%;
}
.field > div:last-child{
    width: 70%;
    padding-right: 10%;
    text-align: end;
}
.field.whatsappButton a{
    display: flex;
    justify-content: center;
}
.field.whatsappButton img{
    padding-top: 20px;
    width: 60%;
}
.auth-wrapper{
    padding-top: 5%;
}

.ServicesInfo{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.ServicesInfo > .row{
    display: flex;
    flex-direction: row;
}

.ServicesInfo .row .serviceDetailsWrapper{
    width: 30%;
    display: flex;
    justify-content: center;
}
.serviceDetailsWrapper .serviceDetails{
    min-width: 250px;
    width: 80%;
    background-color: rgb(126, 106, 81);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
}

.serviceDetailsWrapper {
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }
  
  .serviceDetailsWrapper:hover .serviceDetails {
    transform: scale(1.1);
    z-index: 1;
  }
  
  .serviceDetailsWrapper .serviceDetails {
    transition: transform 0.3s;
    position: relative;
    z-index: 0;
  }
  
  .serviceDetailsWrapper .serviceDetails .title,
  .serviceDetailsWrapper .serviceDetails .durata,
  .serviceDetailsWrapper .serviceDetails .pret {
    position: relative;
  }
  
  .serviceDetailsWrapper .serviceDetails .title {
    font-size: 16px;
  }
  
  .serviceDetailsWrapper .serviceDetails .durata,
  .serviceDetailsWrapper .serviceDetails .pret {
    margin-top: 5px;
    font-size: 14px;
  }
.serviceDetailsWrapper .serviceDetails div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.secondPage h4{
    font-size: 1.7em;
}

.thirdPage .sectionTitle{
    font-size: 1.7em;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.services .thirdPage{
    height: 80vh;
}

.butonProgramare{
    display: flex;
    justify-content: center;
    padding-top: 7vh;
}
.butonProgramare .greenButton{
    font-size: 1.5em;
    padding: 15px 10px 15px 10px;
    border-radius: 25px;
}

.questionsPage .title{
    font-size: 2em;
    color: var(--text-yellow);
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.questionsPage .content{
    width: 60%;
}

.MuiAccordion-root{
    padding-bottom: 25px;
    background-color: transparent !important;
    border: 0px !important;

}
.MuiAccordionDetails-root{
    background-color: aliceblue;
    margin: 10px 3px 0 3px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    
}