.userCenterPage{
   background-color: rgb(255, 255, 255); 
   width:100% !important;
   display: flex;
   flex-direction: column;
   padding-left: 20px;
}

h3{
    align-self: center;
}

.PayButton {
    background-color: #49656e !important; 
    color: white !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    float: right !important;

}
  
.PayButton:hover {
    background-color: #45a049;
  }

.MuiStep-root MuiStep-horizontal css-1bw0nnu-MuiStep-root{
    width: 100% !important;
}

.AppointmentsPage{
   background-color: rgb(255, 255, 255);
   width: 100%;
}
/* Stepper main component */
.css-8atqhb{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.css-2royc9{
    padding-right: 50px;
}


.userPageTitle{
    width : 100%;
    font-size: 2em;
    margin-left: 10%;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.profilePageContainer> h1{
    margin: 0;
}