
.review_page{
    margin-right: 20%;
    margin-bottom: 30px;
}

.summary_title{
  margin: auto;
  width: 70%;
  padding: 50px 10px 50px 10px;
  text-align: center;
}

.container{
    border-radius: 5px;
    background-color: #d4e2d7d6;
    padding: 20px;
    width: 70%;
    margin: auto;
    
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
.Appointment_Summary > .row{
    display: flex;
    align-items: center;
}
.Appointment_Summary > .row > .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.Appointment_Summary > .row > .col-75 {
    margin:auto;
    float: left;
    width: 75%;
  }
  

  .Appointment_Summary > .row > .col-75 > input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
.row::after {
    content: "";
    display: table;
    clear: both;
}

