body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'Karla', sans-serif, 'Spectral', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --active-green:#25A034;
  --menu-green: #078316;
  --header-grey-blue: #49656e;
  --box-background: #f2f2f2;
  --background-blue: #77919E;
  --text-yellow: #FBE984;
  --green-highlight: #8EB1AC;
}
