.fc{
    margin: 30px 5vw 30px 5vw;
}
.fc-timegrid-event{
    height: 90%;
    margin: auto !important;
}

.eventFrame{
    display: flex;
    flex-direction: column;
    justify-content:  center ;
}
.fc .fc-timegrid-slot-label{
    vertical-align: top !important;
}
.eventFrameTitle{
    display: flex;
    align-items: center;
    gap: 3%;
    justify-content: center;
}
.videoIcon{
    color : red;
    vertical-align:middle;
}

.eventInterval{
    text-align: center;
}

.fc-timegrid-slots tbody  tr{
    height: 6vh;
    
}
.fc-highlight{
    background-color: brown;
}
.fc-day-sat, .fc-day-sun {
    background-color: rgb(237, 231, 230) !important;
 }