.ServiceBox{
    background-color:#D9D9D9;
    border-radius: 17.165px;    
    padding: 10px 20px 10px 20px;
    min-width: 300px;
    overflow: clip;
    white-space: nowrap;
}
.ServiceBox-data{
    display: flex;
    flex-direction: row;
}

.ServiceBox-data:first-child{
    font-weight: 900;
}

.ServiceBox-data:not(first-child){
    text-align: left;
}
.leftAlign{
    width: 40%;
}

.rightAlign{
    width : 40%;
    align-items:end;
}