


/* The selected button */
.ServiceChoice .Mui-selected{
    color: #000000 !important;
    background-color: rgba(211, 211, 226, 0.626) !important;
}
.ServiceChoice .Mui-selected .ServiceBox{
    color: #000000 !important;
    background-color: rgba(160, 161, 216, 0.626) !important;
}
